[Unit]
Description="/etc/rc.local Compatibility"
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/sh /etc/rc.local
TimeoutSec=0
#StandardInput=tty
#RemainAfterExit=yes
#SysVStartPriority=99

[Install]
WantedBy=multi-user.target
